:root {
    --background-color-: #FDFFFC;
    --orange-color-: #ff9f1c;
    --primary-color-: #29274C;
    --dark-color-: #012A36;
    --body-text-: #424234;
    --gray-: #838485;
    --light-gray-:#e6e8e5;
    --light-blue-: #1E325C;
}