nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    transition: all 300ms ease;
}

nav .logo {
    display: flex;
    align-items: center; /* Center text vertically */
}

nav .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px; /* Space between logo image and logo text */
}

nav .logo span {
    color: var(--dark-color-); /*Logo text */
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 8px;
}

nav a{
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    padding: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--dark-color-);
    font-size: 18px;
    font-weight: 400;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Styling for the button */
.btn-nav {
    padding: 10px;
    border-radius: 16px;
    color: var(--blue-color);
    font-size: 16px;
    border: 1px solid var(--primary-color-);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Styling for the button */
.btn-nav:hover {
    text-decoration: none;
    transform: scale(1.1); /* Enlarge the icon on hover */
    background-color: var(--primary-color-);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

/* Make the nav bar sticky when scroll down*/
nav.sticky {
    position: fixed; /*Fixed on top*/
    top: 0; /*All to the left*/
    left: 0; /*On top*/
    width: 100%;
    background: var(--primary-color-);
    box-shadow: 0 16px 14px -8px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    padding: 0px 20px;
    z-index: 100; /*In front of other elememts */
    transition: all 300ms ease;
}


nav.sticky  ul li a {
    color: white;
}

nav.sticky .logo span {
    color: white; /*Logo text */
}

/* Styling for the button */
nav.sticky .btn-nav:hover {
    text-decoration: underline;
}


/* Nav bar Mobile*/

.mobile-nav,.mobile-menu-container{
    display: none;
}

.mobile-nav.sticky {
    padding: 10px 30px 10px 20px;
}

.mobile-nav.sticky .icon-menu {
    filter: brightness(0) invert(1); /* Change color on sticky */
}

/* Style for the drop-down menu */
.trabajos-dropdown-menu {
    display: none;
    position: absolute; /* Fixed below navbar*/
    background-color: white;
    border: 1px solid #ddd;
    z-index: 1;
    border-radius: 5px; /* Add rounded corners for a cleaner look */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

/* Adjust the drop-down menu positioning on hover */
li:hover .trabajos-dropdown-menu {
    display: flex;
    flex-direction: column;
}

/* Style for drop-down menu items */
.trabajos-dropdown-menu li {
    padding: 8px 10px;
    /* Additional styling for a cleaner look */
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

/* Style for drop-down menu links */
.trabajos-dropdown-menu a {
    text-decoration: none;
    color: var(--primary-color-); /* Use your primary color */
    font-size: 16px;
    /* Additional styling for better readability */
    display: block; /* Make the links full width for easier clicking */
    padding: 8px 10px; /* Add padding to the links */
}

/* Style for active drop-down menu item */
.trabajos-dropdown-menu a:hover {
    background-color: var(--primary-color-); /* Use your primary color */
    color: white;
    text-decoration: none;
}

nav.sticky .trabajos-dropdown-menu a{
    color: var(--primary-color-);
}

nav.sticky .trabajos-dropdown-menu a:hover{
    color: white;
}


/* Media query for responsive layout on mobile */

@media (max-width:1100px){
    nav{
        width: 100%;
    }   
}

/* Media query for screens with max width of 800px (for mobile) */
@media (max-width:768px){
    nav{
        display: none;
    }
    nav.mobile-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0px;
    }

    nav .logo span {
        font-size: 16px; /*smaller*/
        letter-spacing: 4px;
    }

    .mobile-menu-container{
        display: flex;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: 100%;
        justify-content: center;
        align-items: center;
        z-index: 200;
        background-color: var(--primary-color-);
        transition: all 400ms ease;
    }

    .mobile-menu-container.active{
        left: 0;
    }


    .mobile-menu-container ul{
        list-style: none;
        padding: 0;
    }

    .mobile-menu-container ul li{
        margin: 40px 0;
        text-align: center;
    }

    .mobile-menu-container ul li a{
        color: white;
        text-decoration: none;
        font-size: 32px;
    }
}



